In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

In [11]:
# Create a heat map that displays the humidity for every city from the part I of the homework.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,pumiao,22.75,108.48,68.00,94,90,2.24,CN,1583533055
1,1,hilo,19.73,-155.09,77.00,69,75,19.46,US,1583532949
2,2,rikitea,-23.12,-134.97,78.33,79,100,23.80,PF,1583533062
3,3,hithadhoo,-0.60,73.08,82.99,68,0,8.41,MV,1583533062
4,4,atuona,-9.80,-139.03,81.34,68,23,11.34,PF,1583533062

In [19]:
# Heat Map
gmaps.configure(api_key="g_key")
loc = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
figure = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(loc, weights=humidity, dissipating = False, max_intensity =300, point_radius=5)
figure.add_layer(heatmap_layer)

In [20]:
figure

Figure(layout=FigureLayout(height='420px'))

In [14]:
# find your ideal weather condition
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

ideal_city_df = city_data_df.loc[(city_data_df["Max Temp"] > 70) \
                                 & (city_data_df["Max Temp"]<80) \
                                 & (city_data_df["Wind Speed"] < 10) \
                                 & (city_data_df["Cloudiness"] == 0)
                                ].dropna()

ideal_city_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
46,46,kruisfontein,-34.00,24.73,75.97,67,0,6.51,ZA,1583533066
54,54,carnarvon,-24.87,113.63,71.60,83,0,9.17,AU,1583533066
92,92,cape town,-33.93,18.42,75.99,73,0,4.70,ZA,1583532887
96,96,salalah,17.02,54.09,73.40,53,0,5.82,OM,1583532996
207,207,corbelia,-24.80,-53.31,75.74,69,0,3.60,BR,1583533079
265,265,sao marcos,-28.97,-51.07,73.99,49,0,4.12,BR,1583533084
286,286,taoudenni,22.68,-3.98,74.71,8,0,2.21,ML,1583533085
358,358,riyadh,24.69,46.72,71.60,16,0,6.93,SA,1583533091
383,383,atar,20.52,-13.05,79.18,11,0,9.80,MR,1583533093

In [15]:
hotel_map_df = ideal_city_df[["City", "Country", "Lat", "Lng"]].copy()
hotel_map_df["Hotel Name"] = ""
hotel_map_df

             City Country    Lat     Lng Hotel Name
46   kruisfontein      ZA -34.00   24.73
54      carnarvon      AU -24.87  113.63
92      cape town      ZA -33.93   18.42
96        salalah      OM  17.02   54.09
207      corbelia      BR -24.80  -53.31
265    sao marcos      BR -28.97  -51.07
286     taoudenni      ML  22.68   -3.98
358        riyadh      SA  24.69   46.72
383          atar      MR  20.52  -13.05

In [16]:
# Using Google Places API to find the first hotel for each city 
# located within 5000 meters of your coordinates.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Set for loop
for index, row in hotel_map_df.iterrows():
    lat = row["Lat"] 
    lng = row["Lng"]
    
    params ["location"] = f"{lat}{lng}"
    
    #search terms: hotel, lat/long
    #request & print url
    #json conversion
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    address = requests.get(url, params=params)
    address = address.json()
    
    #get hotel & store results
    try: 
        hotel_map_df.loc[index, "Hotel Name"] = address["results"][0]["name"]
    except (KeyError, IndexError):
        print ("Missing field")
        
hotel_map_df

Missing field
Missing field
Missing field
Missing field
Missing field
Missing field
Missing field
Missing field
Missing field

             City Country    Lat     Lng Hotel Name
46   kruisfontein      ZA -34.00   24.73
54      carnarvon      AU -24.87  113.63
92      cape town      ZA -33.93   18.42
96        salalah      OM  17.02   54.09
207      corbelia      BR -24.80  -53.31
265    sao marcos      BR -28.97  -51.07
286     taoudenni      ML  22.68   -3.98
358        riyadh      SA  24.69   46.72
383          atar      MR  20.52  -13.05

In [17]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_map_df.iterrows()]
locations = hotel_map_df[["Lat", "Lng"]]

In [18]:
# Plot the hotels on top of the humidity heatmap with each pin
# containing the **Hotel Name**, **City**, and **Country**.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
figure.add_layer(marker_layer)
figure

Figure(layout=FigureLayout(height='420px'))